.jumbotron {
    background: url(https://mcdn.wallpapersafari.com/medium/31/19/Wf9ysl.jpg);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbotron h1 {
    color: white;
}

.jumbotron h2 {
    color: white;
    font-weight: bold;
}